.pheader{
    text-align: center;
    border-bottom: solid 2px black;
}

.pheader ul{
    list-style: none;
    padding: px;
}

.pheader ul li {
    display: inline-block;
    margin-right: 20px;
}

.pheader a{
    text-decoration: none;
    color: black;
}